<app-auth-section>
  <h4 class="text-center">{{ "enter_otp_label" | translate }}</h4>
  <form class="login-form" [formGroup]="signUpOTPForm">
    <div class="form-field-wrapper">
      <i class="las la-mobile"></i>
      <mat-form-field>
        <mat-label>{{ "otp_label" | translate }}</mat-label>
        <input matInput formControlName="otpToken" appOnlyNumber required />
        <mat-error>
          <app-error-message [control]="signUpOTPForm.get('otpToken')"></app-error-message>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="buttons-wrapper">
      <button mat-button class="btn-theme-green" (click)="onSubmit()">{{ "common.submit" | translate }}</button>
    </div>
  </form>
</app-auth-section>
