<app-auth-section>
  <h4 class="text-center">{{ "enter_mobile_number_otp_label" | translate }}</h4>
  <form class="login-form" [formGroup]="signUpForm">
    <div class="form-field-wrapper">
      <i class="las la-mobile"></i>
      <mat-form-field>
        <mat-label>{{ "common.mobile_number" | translate }}</mat-label>
        <input matInput formControlName="mobileNumber" appOnlyNumber required />
        <mat-error>
          <app-error-message [control]="signUpForm.get('mobileNumber')"></app-error-message>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="buttons-wrapper">
      <button mat-button class="btn-theme-green" (click)="onGenerateOTP()">
        {{ "common.generate_otp" | translate }}
      </button>
    </div>
  </form>
</app-auth-section>
