<div>
  <div class="has-margin-left">
    <a
      mat-icon-button
      class="text-primary"
      (click)="onDeleteStructure()"
      *ngIf="hasDetailView"
      style="position: absolute; right: 50px"
    >
      <i class="las la-trash" matTooltip="{{ 'delete' | translate }}"></i>
    </a>
  </div>

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
      <button mat-icon-button disabled></button>
      {{ node.name }}
      <button mat-icon-button (click)="removeNode(node)" *ngIf="!hasDetailView">
        <i class="las la-minus-circle text-primary"></i>
      </button>
    </mat-tree-node>

    <mat-tree-node class="tree-node-block" *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
      <ng-container *ngIf="hasMultipleField(node) && getParentNode(node)?.multiple">
        <button mat-icon-button disabled></button>
        <mat-form-field>
          <input matInput #itemValue placeholder="{{ 'property_tree_name_placeholder' | translate }}" />
        </mat-form-field>
        <button class="btn-theme-green" mat-button (click)="saveNode(node, itemValue.value)">
          {{ "common.save" | translate }}
        </button>
        <button mat-button (click)="removeNode(node)">{{ "common.cancel" | translate }}</button>
      </ng-container>

      <ng-container *ngIf="hasMultipleField(node) && !getParentNode(node)?.multiple">
        <button mat-icon-button disabled></button>
        <div class="d-flex align-center">
          <div class="form-field-wrapper">
            <mat-form-field>
              <mat-label>{{ "prefix_label" | translate }}</mat-label>
              <input matInput #prefix />
            </mat-form-field>
          </div>

          <div class="form-field-wrapper">
            <mat-form-field>
              <mat-label>{{ "from_label" | translate }}</mat-label>
              <input matInput #from appOnlyNumber />
            </mat-form-field>
          </div>

          <div class="form-field-wrapper">
            <mat-form-field>
              <mat-label>{{ "to_label" | translate }}</mat-label>
              <input matInput #to appOnlyNumber />
            </mat-form-field>
          </div>
          <div class="has-margin-left">
            <button
              mat-button
              class="btn btn-theme-green"
              (click)="generateNode(node, prefix.value, from.value, to.value)"
            >
              {{ "generate_label" | translate }}
            </button>
            <button mat-button (click)="removeNode(node)">{{ "common.cancel" | translate }}</button>
          </div>
        </div>
      </ng-container>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
        </mat-icon>
      </button>
      <ng-container *ngIf="!node.isDropdown || hasDetailView">{{ node.name }}</ng-container>
      <div class="d-flex has-1-cols" *ngIf="node.isDropdown && !hasDetailView">
        <div class="col">
          <div class="form-field-wrapper has-no-padding-left" (click)="filterStructureDropdown(node)">
            <mat-form-field>
              <mat-select (selectionChange)="onStructureSelect($event, node)" placeholder="Select Structure">
                <mat-option *ngFor="let structure of filteredPropertyStructures" [value]="structure">{{
                  structure.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="addNewItem(node)" *ngIf="node.keyId && !hasDetailView">
        <i class="las la-plus"></i>
      </button>
      <button mat-icon-button (click)="removeNode(node)" *ngIf="!node.isDropdown && !hasDetailView">
        <i class="las la-minus-circle text-primary"></i>
      </button>
    </mat-tree-node>
  </mat-tree>
</div>
