<form class="password-update">
  <div class="d-flex has-3-cols">
    <div class="form-field-wrapper is-password-field col has-no-padding-left">
      <mat-form-field>
        <mat-label>{{ "old_password_label" | translate }}</mat-label>
        <input type="password" matInput />
      </mat-form-field>
      <i class="las la-eye"></i>
    </div>

    <div class="form-field-wrapper is-password-field col has-no-padding-left">
      <mat-form-field>
        <mat-label>{{ "new_password_label" | translate }}</mat-label>
        <input type="password" matInput />
      </mat-form-field>
      <i class="las la-eye"></i>
    </div>

    <div class="form-field-wrapper is-password-field col has-no-padding-left">
      <mat-form-field>
        <mat-label>{{ "confirm_new_password_label" | translate }}</mat-label>
        <input type="password" matInput />
      </mat-form-field>
      <i class="las la-eye"></i>
    </div>
  </div>

  <div class="buttons-wrapper d-flex">
    <button mat-button class="btn btn-theme-green left-auto">{{ "common.update" | translate }}</button>
  </div>
</form>
