<app-login-section [showLogoutIcon]="false">
  <h4 class="text-center">{{ "password_login_label" | translate }}</h4>
  <form class="login-form" [formGroup]="loginWithPasswordForm" (submit)="onLoginWithPassword()">
    <div class="form-field-wrapper">
      <i class="las la-mobile"></i>
      <mat-form-field>
        <mat-label>
          {{ "common.email" | translate }} {{ "or_label" | translate }} {{ "common.mobile_number" | translate }}
        </mat-label>
        <input type="text" matInput formControlName="mobileNumberOrEmail" required />
        <mat-error>
          <app-error-message [control]="loginWithPasswordForm.get('mobileNumberOrEmail')"></app-error-message>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-field-wrapper">
      <i class="las la-key"></i>
      <mat-form-field>
        <mat-label> {{ "common.password" | translate }} </mat-label>
        <input type="password" matInput formControlName="password" required />
        <mat-error>
          <app-error-message [control]="loginWithPasswordForm.get('password')"></app-error-message>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="buttons-wrapper">
      <button mat-button class="btn-theme-green" [disabled]="loginWithPasswordForm.invalid">
        {{ "common.login" | translate }}
      </button>
    </div>
    <div class="buttons-wrapper text-center">
      <a class="has-pointer-style" (click)="onForgotPassword()">Forgot password?</a>
    </div>
    <div class="buttons-wrapper text-center">
      <a class="has-pointer-style" (click)="onOTPLogin()">{{ "otp_login_label" | translate }}</a>
    </div>
  </form>
</app-login-section>
