<div class="content-inner">
  <div class="d-flex">
    <div class="profile-detail-wrapper profile-detail-wrapper--user">
      <mat-tab-group>
        <!-- Privacy Policy-->
        <mat-tab label="{{ 'privacy_policy_label' | translate }}">
          <app-privacy-policy></app-privacy-policy>
        </mat-tab>
        <!-- Privacy Policy Tab-->

        <!-- Terms and Condition Tab-->
        <mat-tab label="{{ 'terms_and_conditions_label' | translate }}">
          <app-terms-and-conditions></app-terms-and-conditions>
        </mat-tab>
        <!-- Terms and Condition Tab-->
      </mat-tab-group>
    </div>
  </div>
</div>
