$white: #ffffff;
$black: #000000;
$peach: #f8837a;
$peachLight: #fd9f98;
$blue: #5a617a;
$gray: #ecf2f8;
$grayLight: #f8f7fc;
$grayDark: #f1f2f7;
$green: #17b4a4;
$greenLight: #7ed9ad;
$red: #FF0000;
$blackLight: #3e3f42;
$grayDarker: #2e2e30;
$orange: #fb9736;

$error: $red;

/* FONT SETTINGS */
$mainFont: "Fira Sans", sans-serif;
$size: 13;
