<app-login-section [showLogoutIcon]="true">
  <h4 class="text-center">{{ "update_password_label" | translate }}</h4>
  <form class="login-form" [formGroup]="updatePasswordForm">
    <div class="form-field-wrapper">
      <i class="las la-key"></i>
      <mat-form-field>
        <mat-label> {{ "old_password_label" | translate }} </mat-label>
        <span class="password-input-field">
          <input type="text" matInput formControlName="oldPassword" appPassword required />
        </span>
        <mat-error>
          <app-error-message [control]="updatePasswordForm.get('oldPassword')"></app-error-message>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-field-wrapper">
      <i class="las la-key"></i>
      <mat-form-field>
        <mat-label> {{ "new_password_label" | translate }} </mat-label>
        <span class="password-input-field">
          <input type="password" matInput formControlName="newPassword" appPassword required />
        </span>
        <mat-error>
          <app-error-message [control]="updatePasswordForm.get('newPassword')"></app-error-message>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-field-wrapper">
      <i class="las la-key"></i>
      <mat-form-field>
        <mat-label> {{ "confirm_new_password_label" | translate }} </mat-label>
        <span class="password-input-field">
          <input type="password" matInput formControlName="confirmPassword" appPassword required />
        </span>
        <mat-error>
          <app-error-message [control]="updatePasswordForm.get('confirmPassword')"></app-error-message>
        </mat-error>
      </mat-form-field>
    </div>
    <mat-error *ngIf="updatePasswordForm.errors?.compare_password" class="compare-error pwd-compare">
      {{ "passwords_match" | translate }}
    </mat-error>

    <div class="buttons-wrapper">
      <button mat-button class="btn-theme-green" (click)="onUpdatePassword()">
        {{ "common.update" | translate }}
      </button>
    </div>
  </form>
</app-login-section>
