<div class="app-container auth setup d-flex align-center">
  <div class="auth-content d-flex">
    <div class="setup-wizard">
      <h1 class="app-icon">
        <span></span>
        <p>estate<i>Cloud</i></p>
      </h1>

      <mat-nav-list class="setup-wizard-steps">
        <a mat-list-item class="completed-step" routerLink="/designs/owner-type">Owner Type</a>
        <a mat-list-item class="completed-step" routerLink="/designs/individual-owner-detail">Owner Detail</a>
        <a mat-list-item class="completed-step" routerLink="/designs/site-type">Property Type</a>
        <a mat-list-item class="current-step" routerLink="/designs/site-detail">Property Detail</a>
      </mat-nav-list>

      <figure class="text-center">
        <img src="./assets/images/bms-wizard-footer-img.png" alt="OWNANT" />
      </figure>
    </div>
    <div class="form-wrapper">
      <p class="help-text">Having troubles? <a href="#" class="text-primary bold">Get Help</a></p>
      <h4>Housing</h4>
      <form class="detail-form">
        <div class="form-field-wrapper">
          <div class="form-field-input is-image-field">
            <label>Property Logo</label>
            <span class="file-upload">
              <figure class="is-rounded-image">
                <img src="./assets/images/hero.jpg" alt="" />
                <div class="hover-actions">
                  <button mat-icon-button>
                    <input type="file" />
                    <i class="las la-upload"></i>
                  </button>
                  <button mat-icon-button><i class="las la-times"></i></button>
                </div>
              </figure>
            </span>
          </div>
        </div>

        <div class="form-field-wrapper">
          <mat-form-field>
            <mat-label> Site Name </mat-label>
            <input type="text" matInput required />
          </mat-form-field>
        </div>

        <div class="form-field-wrapper">
          <div class="form-field-input">
            <input type="text" required />
            <label>Email</label>
            <span class="underline"></span>
          </div>
        </div>

        <div class="contact-details contact-details-site">
          <h5 class="form-section-title">Contact <i class="las la-plus"></i></h5>
          <div class="d-flex has-2-cols">
            <div class="form-field-wrapper col is-phone-field">
              <mat-form-field class="zip-code-input">
                <span matPrefix><i class="las la-plus"></i></span>
                <input type="number" matInput />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input type="number" matInput />
              </mat-form-field>
            </div>

            <div class="form-field-wrapper col is-phone-field">
              <mat-form-field class="zip-code-input">
                <span matPrefix><i class="las la-plus"></i></span>
                <input type="number" matInput />
              </mat-form-field>
              <mat-form-field>
                <mat-label>Mobile Number</mat-label>
                <input type="number" matInput />
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="address-details address-details-site">
          <h5 class="form-section-title">Address</h5>
          <div class="d-flex has-2-cols">
            <div class="form-field-wrapper col full-width">
              <mat-form-field>
                <mat-label> Address Line 1 </mat-label>
                <input type="text" matInput />
              </mat-form-field>
            </div>

            <div class="form-field-wrapper col full-width">
              <mat-form-field>
                <mat-label> Address Line 2 </mat-label>
                <input type="text" matInput />
              </mat-form-field>
            </div>

            <div class="form-field-wrapper col">
              <mat-form-field>
                <mat-label> Country </mat-label>
                <mat-select>
                  <mat-option value="nepal">Nepal</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-field-wrapper col">
              <mat-form-field>
                <mat-label> Province </mat-label>
                <mat-select>
                  <mat-option value="bagmati">Bagmati</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form-field-wrapper col">
              <mat-form-field>
                <mat-label> City </mat-label>
                <input type="text" matInput />
              </mat-form-field>
            </div>

            <div class="form-field-wrapper col">
              <mat-form-field>
                <mat-label> Zip Code </mat-label>
                <input type="number" matInput />
              </mat-form-field>
            </div>

            <div class="form-field-wrapper col">
              <mat-form-field>
                <mat-label> Ward No. </mat-label>
                <input type="number" matInput />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-field-wrapper">
          <mat-form-field>
            <mat-label>Facilities</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>

        <div class="site-images contains-multiple-images">
          <h5 class="form-section-title d-flex align-center justify-start">
            <span>Site Images</span>
            <button mat-button class="btn-theme-green-outline">Add More</button>
          </h5>
          <div class="d-flex has-2-cols">
            <div class="image-holder col">
              <figure>
                <img src="./assets/images/hero.jpg" alt="image 1" />
                <div class="hover-actions">
                  <button mat-icon-button>
                    <input type="file" />
                    <i class="las la-upload"></i>
                  </button>
                  <button mat-icon-button><i class="las la-times"></i></button>
                </div>
              </figure>
              <span>Image1</span>
            </div>

            <div class="image-holder col">
              <figure>
                <img src="./assets/images/hero.jpg" alt="image 1" />
                <div class="hover-actions">
                  <button mat-icon-button>
                    <input type="file" />
                    <i class="las la-upload"></i>
                  </button>
                  <button mat-icon-button><i class="las la-times"></i></button>
                </div>
              </figure>
              <span>Image1</span>
            </div>

            <div class="image-holder col">
              <figure>
                <img src="./assets/images/hero.jpg" alt="image 1" />
                <div class="hover-actions">
                  <button mat-icon-button>
                    <input type="file" />
                    <i class="las la-upload"></i>
                  </button>
                  <button mat-icon-button><i class="las la-times"></i></button>
                </div>
              </figure>
              <span>Image1</span>
            </div>

            <div class="image-holder col">
              <figure>
                <img src="./assets/images/hero.jpg" alt="image 1" />
                <div class="hover-actions">
                  <button mat-icon-button>
                    <input type="file" />
                    <i class="las la-upload"></i>
                  </button>
                  <button mat-icon-button><i class="las la-times"></i></button>
                </div>
              </figure>
              <span>Image1</span>
            </div>
          </div>
        </div>

        <div class="buttons-wrapper d-flex">
          <a href="/designs/site-type" mat-button class="btn btn-theme-white">Previous</a>
          <button mat-button class="btn btn-theme-green" (click)="onClickRedirectTo()">Next</button>
        </div>
      </form>
    </div>
  </div>
</div>
