<div class="app-container">
  <!-- Header -->
  <header class="d-flex align-center">
    <h1 class="building-logo d-flex align-center">
      <figure>
        <img src="./assets/images/favicon.png" alt="Building Logo" />
      </figure>
      <span class="text-primary bold">Sunrise Builder</span>
    </h1>

    <span class="nav-toggle" (click)="drawer.toggle()">
      <i class="las la-bars"></i>
    </span>

    <mat-nav-list class="nav nav-primary">
      <a mat-list-item routerLink="/designs/dashboard">Dashboard</a>

      <a mat-list-item [matMenuTriggerFor]="propertyMenu">Property</a>
      <mat-menu #propertyMenu="matMenu" class="is-dropdown">
        <h3>My Property</h3>
        <mat-nav-list class="added-records-list">
          <a mat-list-item class="d-flex align-center added-records-list-item">
            <figure class="is-rounded-image">
              <img src="./assets/images/unnamed.jpg" alt="Property Image" />
            </figure>
            <p>
              <span>Sunrise Homes</span>
              <label>Apartment</label>
            </p>
          </a>
        </mat-nav-list>
        <mat-nav-list class="record-actions">
          <a mat-list-item routerLink="/designs/property-owner-add-property">Add New</a>
          <a mat-list-item routerLink="/designs/product-admin-property">View All</a>
        </mat-nav-list>
      </mat-menu>

      <a mat-list-item [matMenuTriggerFor]="staffMenu">Staff</a>
      <mat-menu #staffMenu="matMenu" class="is-dropdown">
        <h3>Active Staff</h3>
        <mat-nav-list class="added-records-list">
          <a mat-list-item class="d-flex align-center added-records-list-item">
            <figure class="is-rounded-image">
              <img src="./assets/images/unnamed.jpg" alt="Property Image" />
            </figure>
            <p>
              <span>Ghanashyam Kushwaha</span>
              <label>Property Manger</label>
            </p>
          </a>
          <a mat-list-item class="d-flex align-center added-records-list-item">
            <figure class="is-rounded-image">
              <img src="./assets/images/unnamed.jpg" alt="Property Image" />
            </figure>
            <p>
              <span>Kanti Lal Shah</span>
              <label>Gate Keeper</label>
            </p>
          </a>
        </mat-nav-list>
        <mat-nav-list class="record-actions">
          <a mat-list-item (click)="openStaffDialog()">Add New</a>
          <a mat-list-item routerLink="/designs/staff">View All</a>
        </mat-nav-list>
      </mat-menu>

      <a mat-list-item routerLink="/designs/users">Users</a>

      <a mat-list-item routerLink="/designs/property-owner-add-property" class="is-button">Add Property</a>
    </mat-nav-list>

    <mat-nav-list class="nav nav-secondary">
      <a mat-list-item><i class="las la-question-circle"></i></a>
      <a mat-list-item><i class="las la-cog"></i></a>
      <a mat-list-item matBadge="15" [matMenuTriggerFor]="notificationDropDown"><i class="las la-bell"></i></a>
      <mat-menu #notificationDropDown="matMenu" class="is-dropdown user-menu-dropdown">
        <mat-nav-list class="is-dropdown notification">
          <a mat-list-item>View Profile</a>
          <a mat-list-item>Logout</a>
        </mat-nav-list>
      </mat-menu>
      <a mat-list-item [matMenuTriggerFor]="userDropDown">
        <figure class="is-rounded-image">
          <img src="./assets/images/unnamed.jpg" alt="Property Image" />
        </figure>
      </a>

      <mat-menu #userDropDown="matMenu" class="is-dropdown user-menu-dropdown">
        <mat-nav-list class="record-actions">
          <a mat-list-item routerLink="/designs/profile">View Profile</a>
          <a mat-list-item>Logout</a>
        </mat-nav-list>
      </mat-menu>
    </mat-nav-list>
  </header>
  <!-- Header -->

  <div class="app-content">
    <mat-drawer-container>
      <mat-drawer #drawer mode="side" opened>
        <!-- Sidebar -->
        <section class="nav nav-sidebar">
          <h2 class="property-name d-flex align-center">
            <figure class="is-rounded-image">
              <img src="./assets/images/hero.jpg" alt="Property Image" />
            </figure>
            <span class="text-primary">Sunrise Homes</span>
          </h2>

          <mat-nav-list>
            <a matTooltip="Units" mat-list-item routerLink="/designs/units">
              <i class="las la-door-open"></i>
              <span>Units</span>
            </a>

            <a mat-list-item routerLink="/designs/tenant-active">
              <i class="las la-user-tie"></i>
              <span>Tenants</span>
            </a>
            <mat-nav-list class="submenu">
              <a mat-list-item routerLink="/designs/tenant-active">Active</a>
              <a mat-list-item routerLink="/designs/tenant-invited">Invited</a>
            </mat-nav-list>

            <a mat-list-item routerLink="/designs/notice-board">
              <i class="las la-newspaper"></i>
              <span>Notice Board</span>
            </a>

            <a mat-list-item routerLink="/designs/helpdesk">
              <i class="las la-user-astronaut"></i>
              <span>Helpdesk</span>
            </a>

            <a mat-list-item routerLink="/designs/invoices" class="active">
              <i class="las la-coins"></i>
              <span>Invoice</span>
            </a>

            <a mat-list-item>
              <i class="las la-chart-bar"></i>
              <span>Reports</span>
            </a>

            <a mat-list-item routerLink="/designs/settings">
              <i class="las la-cog"></i>
              <span>Settings</span>
            </a>
          </mat-nav-list>
        </section>
        <!-- Sidebar -->
      </mat-drawer>

      <mat-drawer-content>
        <div class="content-inner">
          <h2 class="module-header d-flex align-center justify-between">
            <span class="module-header-text">Invoice</span>
            <form>
              <div class="form-field-wrapper has-no-margin">
                <mat-form-field floatLabel="never">
                  <mat-label>Search by Invoice/Phone Number</mat-label>
                  <input type="text" matInput placeholder="Search by Owner Name / Number" />
                  <i mat-icon-button matSuffix class="las la-search"></i>
                </mat-form-field>
              </div>
            </form>
          </h2>

          <!-- Filters -->
          <div class="records-filter">
            <h3>Filter by</h3>
            <div class="d-flex">
              <div class="form-field-wrapper">
                <mat-form-field>
                  <mat-label>Enter a date range</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Start date" />
                    <input matEndDate placeholder="End date" />
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
              </div>
              <div class="form-field-wrapper">
                <mat-form-field>
                  <mat-select>
                    <mat-option value="Maintenance">Maintenance</mat-option>
                    <mat-option value="Rent">Rent</mat-option>
                  </mat-select>
                  <mat-label>Category</mat-label>
                </mat-form-field>
              </div>
              <div class="form-field-wrapper">
                <mat-form-field>
                  <mat-select>
                    <mat-option value="due">Due</mat-option>
                    <mat-option value="completed">completed</mat-option>
                  </mat-select>
                  <mat-label>Status</mat-label>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- Filters -->

          <!-- Records Table -->
          <div class="records-wrapper">
            <div class="table-wrapper">
              <table
                mat-table
                [dataSource]="dataSource"
                multiTemplateDataRows
                class="records-table records-table--invoice"
              >
                <ng-container matColumnDef="invoiceNumber">
                  <th mat-header-cell *matHeaderCellDef>Invoice No.</th>
                  <td mat-cell *matCellDef="let element">{{ element.invoiceNumber }}</td>
                </ng-container>

                <ng-container matColumnDef="ownerName">
                  <th mat-header-cell *matHeaderCellDef>Owner Name</th>
                  <td mat-cell *matCellDef="let element">{{ element.ownerName }}</td>
                </ng-container>

                <ng-container matColumnDef="phoneNumber">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Phone Number</th>
                  <td mat-cell *matCellDef="let element" class="text-center">{{ element.phoneNumber }}</td>
                </ng-container>

                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Category</th>
                  <td mat-cell *matCellDef="let element" class="text-center">{{ element.category }}</td>
                </ng-container>

                <ng-container matColumnDef="invoiceInterval">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Invoice Period</th>
                  <td mat-cell *matCellDef="let element" class="text-center">{{ element.invoiceInterval }}</td>
                </ng-container>

                <ng-container matColumnDef="createdDate">
                  <th mat-header-cell *matHeaderCellDef>Invoiced Date</th>
                  <td mat-cell *matCellDef="let element">{{ element.createdDate }}</td>
                </ng-container>

                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Amount</th>
                  <td mat-cell *matCellDef="let element" class="text-center">NPR {{ element.amount }}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef class="text-center">Status</th>
                  <td mat-cell *matCellDef="let element" class="text-center">
                    <label class="label-status {{ element.status }}">{{ element.status }}</label>
                  </td>
                </ng-container>

                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length" class="text-left">
                    <div
                      class="d-flex invoice-detail"
                      [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
                    >
                      <div class="d-flex has-2-cols has-margin-top justify-between">
                        <div class="col unit-settings">
                          <mat-list>
                            <mat-list-item> <span>Unit Name:</span> D-Block, Floor 7, D-4 </mat-list-item>
                            <mat-list-item> <span>PAN No.:</span> 604123 </mat-list-item>
                            <mat-list-item><span>Payment Mode:</span> Cheque</mat-list-item>
                            <mat-list-item><span>TXN ID:</span> PWRC2JWAZ</mat-list-item>
                            <mat-list-item> <span>Payment Received Date:</span> 01-01-2021 </mat-list-item>
                          </mat-list>
                        </div>
                        <div class="col">
                          <div class="transaction-table-wrapper">
                            <table mat-table [dataSource]="transactions" class="transaction">
                              <!-- Item Column -->
                              <ng-container matColumnDef="item">
                                <td mat-cell *matCellDef="let transaction" class="item">{{ transaction.item }}</td>
                              </ng-container>

                              <!-- Cost Column -->
                              <ng-container matColumnDef="cost">
                                <td mat-cell *matCellDef="let transaction" class="cost">NPR {{ transaction.cost }}</td>
                              </ng-container>

                              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                            </table>
                          </div>
                        </div>
                      </div>

                      <div class="form-detail">
                        <form>
                          <div class="d-flex has-3-cols justify-between">
                            <div class="col has-margin-top">
                              <div class="form-field-wrapper">
                                <mat-form-field>
                                  <mat-label>Payment Option</mat-label>
                                  <mat-select>
                                    <mat-option value="cash">Cash</mat-option>
                                    <mat-option value="cheque">Cheque</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col has-margin-top">
                              <div class="form-field-wrapper">
                                <mat-form-field>
                                  <mat-label>Cheque/Cash received Date</mat-label>
                                  <input matInput [matDatepicker]="picker" />
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col has-margin-top">
                              <div class="form-field-wrapper">
                                <mat-form-field>
                                  <mat-label>Bank Name</mat-label>
                                  <input matInput />
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                          <h3 class="has-margin-top">Cheque Details</h3>
                          <div class="d-flex has-3-cols justify-between">
                            <div class="col has-margin-top">
                              <div class="form-field-wrapper">
                                <mat-form-field>
                                  <mat-label>Account Holder Name</mat-label>
                                  <input matInput />
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col has-margin-top">
                              <div class="form-field-wrapper">
                                <mat-form-field>
                                  <mat-label>Account Number</mat-label>
                                  <input matInput />
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col has-margin-top">
                              <div class="form-field-wrapper">
                                <mat-form-field>
                                  <mat-label>Account Maintained Branch</mat-label>
                                  <input matInput />
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col has-margin-top">
                              <div class="form-field-wrapper">
                                <mat-form-field>
                                  <mat-label>Check Deposited at Branch</mat-label>
                                  <input matInput />
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col has-margin-top">
                              <div class="form-field-wrapper">
                                <mat-form-field>
                                  <mat-label>Amount</mat-label>
                                  <input matInput />
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col has-margin-top">
                              <div class="form-field-wrapper">
                                <mat-form-field>
                                  <mat-label>Amount in Words</mat-label>
                                  <input matInput />
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="col image-holder">
                              <figure>
                                <img src="./assets/images/hero.jpg" alt="Upload Cheque Image" />
                                <figcaption>Cheque</figcaption>
                              </figure>
                              <div class="progressbar">
                                <div class="progressbar-inner" style="width: 25%"></div>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex info has-margin-bottom full-width">
                            <button mat-button class="btn-theme-green">Pay Now</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr
                  mat-row
                  *matRowDef="let element; columns: columnsToDisplay"
                  class="records-row example-element-row"
                  [class.expanded]="expandedElement === element"
                  (click)="expandedElement = expandedElement === element ? null : element"
                ></tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="expanded-row-details"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
          <!-- Records Table -->
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
