<div class="ng-trigger-detailExpand">
  <h4 class="owner-name">Ghanashyam Kushwaha</h4>
  <div class="owner-active-detail">
    <!-- Owner Information -->
    <div class="info info-admin">
      <div class="d-flex has-3-cols">
        <div class="col">
          <i class="las la-map-marked text-primary"></i>
          <p>
            <label>Permanent Adress </label>
            <span
              >Anantalingeshwor Marg, Bhaktapur, Kathmandu, <br />
              Nepal, Ward Number: 01, Zip Code: 650045</span
            >
          </p>
        </div>

        <div class="col">
          <i class="las la-transgender text-primary"></i>
          <span>Male</span>
        </div>

        <div class="col">
          <i class="las la-birthday-cake text-primary"></i>
          <span>March 08, 1981</span>
        </div>
      </div>
      <div flex class="d-flex has-3-cols">
        <div class="col">
          <i class="las la-file-alt text-primary"></i>
          <a>
            <a href="#" class="text-primary">Owner PAN</a>
          </a>
        </div>
        <div flex class="col">
          <i class="las la-file-alt text-primary"></i>
          <a href="#" class="text-primary">Citizenship Front</a>
        </div>
        <div flex class="col">
          <i class="las la-file-alt text-primary"></i>
          <a href="#" class="text-primary">Citizenship Back</a>
        </div>
      </div>
    </div>
    <!-- Owner Information -->

    <!-- Admin Information-->
    <div class="info info-admin">
      <h5 class="form-section-title">Company Information</h5>
      <div class="d-flex has-3-cols">
        <div class="col contains-brief-info d-flex">
          <figure class="is-rounded-image w-60">
            <img class="" src="./assets/images/hero.jpg" />
          </figure>
          <div class="name-location-info has-margin-left">
            <div class="has-margin-bottom">
              <!-- <i class="las la-building text-primary"></i> -->
              <span>Sunrise Builders</span>
            </div>
          </div>
        </div>

        <div class="col">
          <i class="las la-envelope text-primary"></i>
          <a href="mailto:info@smartmobe.com">info@smartmobe.com</a>
        </div>

        <div class="col">
          <i class="las la-phone text-primary"></i>
          <span>977-1-4256789</span>
        </div>

        <div class="col">
          <i class="las la-map-marked text-primary"></i>
          <p>
            <label>Company Address </label>
            <span>
              Tripura Marg, Triprushwor, Kathmandu, Ward Number: 01, Zip Code: 650045, Bagmati<br />
              Nepal,
            </span>
          </p>
        </div>
      </div>
    </div>
    <!-- Admin Information -->

    <div class="info info-docs">
      <div flex class="d-flex has-3-cols">
        <div class="col">
          <i class="las la-file-alt text-primary"></i>
          <a>
            <label>Owner PAN ID</label>
            <span class="text-primary">P. 1234567890</span>
          </a>
        </div>
        <div flex class="col">
          <i class="las la-file-alt text-primary"></i>
          <a>
            <label>Owner PAN ID</label>
            <span class="text-primary">P. 1234567890</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
