<app-login-section [showLogoutIcon]="false">
  <h4 class="text-center">{{ "forgot_password_label" | translate }}</h4>
  <form class="login-form" [formGroup]="forgotPasswordForm" #forgotPasswordNgForm="ngForm">
    <div class="form-field-wrapper">
      <mat-form-field>
        <mat-label> {{ "common.email" | translate }} </mat-label>
        <input type="text" matInput formControlName="email" required />
        <mat-error>
          <app-error-message [control]="forgotPasswordForm.get('email')"></app-error-message>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="buttons-wrapper">
      <button mat-button class="btn-theme-green" (click)="onSubmitForgotPassword()">
        {{ "common.submit" | translate }}
      </button>
    </div>
    <p class="has-margin-top text-center color-black" *ngIf="isEmailSent">
      {{ "email_sent_for_verification" | translate }}
    </p>
    <div class="buttons-wrapper text-center">
      <a class="text-center has-pointer-style" (click)="goToLogin()">{{ "password_login_label" | translate }}</a>
    </div>
  </form>
</app-login-section>
