<app-login-section [showLogoutIcon]="true">
  <h4 class="text-center">{{ "create_password_label" | translate }}</h4>
  <form class="login-form" [formGroup]="createPasswordForm">
    <div class="form-field-wrapper">
      <i class="las la-key"></i>
      <mat-form-field>
        <mat-label> {{ "password_label" | translate }} </mat-label>
        <span class="password-input-field">
          <input type="password" matInput formControlName="password" appPassword required />
        </span>
        <mat-error>
          <app-error-message [control]="createPasswordForm.get('password')"></app-error-message>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-field-wrapper">
      <i class="las la-key"></i>
      <mat-form-field>
        <mat-label> {{ "confirm_password_label" | translate }} </mat-label>
        <span class="password-input-field">
          <input type="password" matInput formControlName="confirmPassword" appPassword required />
        </span>
        <mat-error>
          <app-error-message [control]="createPasswordForm.get('confirmPassword')"></app-error-message>
        </mat-error>
      </mat-form-field>
    </div>
    <mat-error *ngIf="createPasswordForm.errors?.compare_password" class="compare-error pwd-compare">
      {{ "passwords_match" | translate }}
    </mat-error>

    <div class="buttons-wrapper">
      <button mat-button class="btn-theme-green" (click)="onCreatePassword()">
        {{ "common.save" | translate }}
      </button>
    </div>
  </form>
</app-login-section>
