<h1 mat-dialog-title class="text-primary" style="margin: 0 15px">
  <div class="d-flex align-center justify-between">
    <span>{{ "add_user" | translate }}</span>
    <i class="las la-times" (click)="closeModal()"></i>
  </div>
</h1>
<div mat-dialog-content>
  <form class="staff-configuration-form" [formGroup]="addStaffForm" #addStaffNgForm="ngForm">
    <div class="d-flex is-column-layout align-center" style="margin: 0 15px">
      <div class="col">
        <div class="form-field-wrapper has-no-padding-left is-phone-field">
          <!-- <mat-form-field class="zip-code-input">
          <mat-label> Code </mat-label>
          <span matPrefix><i class="las la-plus"></i></span>
          <input type="number" matInput />
        </mat-form-field> -->
          <mat-form-field>
            <mat-label> {{ "common.mobile_number" | translate }} </mat-label>
            <input
              appOnlyNumber
              matInput
              formControlName="mobileNumber"
              #mobileNumberInput
              autocomplete="off"
              required
            />
            <mat-error>
              <app-error-message [control]="addStaffForm.get('mobileNumber')"></app-error-message>
            </mat-error>
          </mat-form-field>

          <mat-nav-list class="suggestion-list" *ngIf="searchedUsers.length > 0">
            <a mat-list-item *ngFor="let user of searchedUsers" (click)="suggestionSelectionClicked(user)">
              <p>{{ user.name }}</p>
              <span>{{ user.mobileNumber }}</span>
            </a>
          </mat-nav-list>
        </div>
      </div>

      <div class="col" *ngIf="showNameField()">
        <div class="form-field-wrapper has-no-padding-left">
          <mat-form-field>
            <mat-label>{{ "common.full_name" | translate }}</mat-label>
            <input type="text" matInput required formControlName="name" required />
            <mat-error>
              <app-error-message [control]="addStaffForm.get('name')"></app-error-message>
            </mat-error>
          </mat-form-field>

          <div style="padding-bottom: 1.25em">
            <mat-checkbox formControlName="asAdmin" style="font-size: 14px">
              {{ "add_as_admin" | translate }}
            </mat-checkbox>
            <mat-error>
              <app-error-message [control]="addStaffForm.get('asAdmin')"></app-error-message>
            </mat-error>
          </div>
        </div>
      </div>

      <div class="col">
        <button mat-button class="btn-theme-green" (click)="onAddStaffClick()" [disabled]="!showNameField()">
          {{ "common.add" | translate }}
        </button>
      </div>
    </div>
  </form>
</div>
