<div class="app-container">
  <!-- Header -->
  <header class="d-flex align-center">
    <h1 class="building-logo d-flex align-center">
      <figure>
        <img src="./assets/images/favicon.png" alt="Building Logo" />
      </figure>
      <span class="text-primary bold">OWNANT</span>
    </h1>

    <span class="nav-toggle" (click)="drawer.toggle()">
      <i class="las la-bars"></i>
    </span>

    <mat-nav-list class="nav nav-primary">
      <a mat-list-item routerLink="/designs/dashboard">Dashboard</a>

      <a mat-list-item [matMenuTriggerFor]="staffMenu">Staff</a>
      <mat-menu #staffMenu="matMenu" class="is-dropdown">
        <h3>Active Staff</h3>
        <mat-nav-list class="added-records-list">
          <a mat-list-item class="d-flex align-center added-records-list-item">
            <figure class="is-rounded-image">
              <img src="./assets/images/unnamed.jpg" alt="Property Image" />
            </figure>
            <p>
              <span>Ghanashyam Kushwaha</span>
              <label>Property Manger</label>
            </p>
          </a>
          <a mat-list-item class="d-flex align-center added-records-list-item">
            <figure class="is-rounded-image">
              <img src="./assets/images/unnamed.jpg" alt="Property Image" />
            </figure>
            <p>
              <span>Kanti Lal Shah</span>
              <label>Gate Keeper</label>
            </p>
          </a>
        </mat-nav-list>
        <mat-nav-list class="record-actions">
          <a mat-list-item (click)="openStaffDialog()">Add New</a>
          <a mat-list-item routerLink="/designs/staff">View All</a>
        </mat-nav-list>
      </mat-menu>

      <a mat-list-item routerLink="/designs/users">Users</a>

      <a mat-list-item routerLink="/designs/product-admin-add-property" class="is-button">Add Property</a>
    </mat-nav-list>

    <mat-nav-list class="nav nav-secondary">
      <a mat-list-item><i class="las la-question-circle"></i></a>
      <a mat-list-item><i class="las la-cog"></i></a>
      <a mat-list-item><i class="las la-bell"></i></a>
      <a mat-list-item [matMenuTriggerFor]="userDropDown">
        <figure class="is-rounded-image">
          <img src="./assets/images/unnamed.jpg" alt="Property Image" />
        </figure>
      </a>

      <mat-menu #userDropDown="matMenu" class="is-dropdown user-menu-dropdown">
        <mat-nav-list class="record-actions">
          <a mat-list-item routerLink="/designs/product-admin-profile">View Profile</a>
          <a mat-list-item>Logout</a>
        </mat-nav-list>
      </mat-menu>
    </mat-nav-list>
  </header>
  <!-- Header -->

  <div class="app-content">
    <mat-drawer-container>
      <mat-drawer #drawer mode="side" opened>
        <!-- Sidebar -->
        <section class="nav nav-sidebar">
          <mat-nav-list class="ownant-admin">
            <a mat-list-item routerLink="/designs/product-admin-owner">
              <i class="las la-user-tie"></i>
              <span>Owner</span>
            </a>

            <a mat-list-item class="has-submenu active">
              <i class="las la-building"></i>
              <span>Property</span>
            </a>
            <mat-nav-list class="submenu">
              <a mat-list-item routerLink="/designs/product-admin-property-pending-verification" class="active">
                Pending
              </a>
              <a mat-list-item routerLink="/designs/product-admin-property">Properties</a>
            </mat-nav-list>

            <a mat-list-item class="has-submenu" routerLink="/designs/product-admin-user">
              <i class="las la-user"></i>
              <span>User</span>
            </a>
          </mat-nav-list>
        </section>
        <!-- Sidebar -->
      </mat-drawer>

      <mat-drawer-content>
        <div class="content-inner">
          <div class="breadcrubms">
            <span><a href="/designs/dashboard">Dashboard</a></span>
            <span>Property</span>
            <span>Pending Verification</span>
          </div>

          <h2 class="module-header d-flex align-center justify-between">
            <span class="module-header-text">Verification Pending Properties</span>
            <form>
              <div class="form-field-wrapper has-no-margin">
                <mat-form-field floatLabel="never">
                  <mat-label>Search by Property Name</mat-label>
                  <input type="text" matInput placeholder="Search by Owner Name / Number" />
                  <i mat-icon-button matSuffix class="las la-search"></i>
                </mat-form-field>
              </div>
            </form>
          </h2>

          <!-- Filters -->
          <div class="records-filter">
            <h3>Filter by</h3>
            <div class="d-flex">
              <div class="form-field-wrapper">
                <mat-form-field>
                  <mat-select floatLabel="never">
                    <mat-option value="owner type" seleceted>Property Type</mat-option>
                    <mat-option value="owner type">Apartment</mat-option>
                    <mat-option value="owner type">Housing</mat-option>
                  </mat-select>
                  <mat-label>Property Type</mat-label>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- Filters -->

          <!-- Records Table -->
          <div class="records-wrapper">
            <div class="table-wrapper">
              <table
                mat-table
                [dataSource]="dataSource"
                multiTemplateDataRows
                class="records-table records-table--product-admin-property"
              >
                <ng-container matColumnDef="sn">
                  <th mat-header-cell *matHeaderCellDef>#</th>
                  <td mat-cell *matCellDef="let element">{{ element.sn }}</td>
                </ng-container>

                <ng-container matColumnDef="ownername">
                  <th mat-header-cell *matHeaderCellDef>owner name</th>
                  <td mat-cell *matCellDef="let element">{{ element.ownername }}</td>
                </ng-container>

                <ng-container matColumnDef="phoneNumber">
                  <th mat-header-cell *matHeaderCellDef class="text-center">phone Number</th>
                  <td mat-cell *matCellDef="let element" class="text-center">{{ element.phoneNumber }}</td>
                </ng-container>

                <ng-container matColumnDef="propertyName">
                  <th mat-header-cell *matHeaderCellDef>property Name</th>
                  <td mat-cell *matCellDef="let element">{{ element.propertyName }}</td>
                </ng-container>

                <ng-container matColumnDef="propertyEmail">
                  <th mat-header-cell *matHeaderCellDef>property Email</th>
                  <td mat-cell *matCellDef="let element">{{ element.propertyEmail }}</td>
                </ng-container>

                <ng-container matColumnDef="propertyType">
                  <th mat-header-cell *matHeaderCellDef class="text-center">property Type</th>
                  <td mat-cell *matCellDef="let element" class="text-center">{{ element.propertyType }}</td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length" class="text-left">
                    <div
                      class="owner-active-detail"
                      [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
                    >
                      <!-- Admin Information -->
                      <div class="info info-admin">
                        <div class="d-flex has-3-cols">
                          <div class="col">
                            <i class="las la-map-marked text-primary"></i>
                            <p>
                              <label>Permanent Adress </label>
                              <span
                                >Anantalingeshwor Marg, Bhaktapur, Kathmandu, <br />
                                Nepal, Ward Number: 01, Zip Code: 650045</span
                              >
                            </p>
                          </div>

                          <div class="col">
                            <i class="las la-phone text-primary"></i>
                            <span>977-1-4256789</span>
                          </div>
                        </div>
                      </div>
                      <!-- Admin Information -->

                      <!-- Documents -->
                      <div class="info info-docs">
                        <h4>
                          <span>Document</span>
                        </h4>
                        <div flex class="d-flex has-3-cols">
                          <div class="col">
                            <i class="las la-file-alt text-primary"></i>
                            <a href="#" class="text-primary">Company Registration Certificate</a>
                          </div>
                          <div flex class="col">
                            <i class="las la-file-alt text-primary"></i>
                            <a href="#" class="text-primary">PAN/VAT Registration</a>
                          </div>
                        </div>
                      </div>
                      <!-- Documents -->

                      <div class="site-images contains-multiple-images">
                        <h5 class="form-section-title">Property images</h5>
                        <div lightbox-group class="d-flex has-5-cols">
                          <div class="col image-holder">
                            <figure>
                              <img src="./assets/images/hero.jpg" lightbox alt="image 1" />
                              <figcaption>Image1</figcaption>
                            </figure>
                          </div>

                          <div class="col image-holder">
                            <figure>
                              <img src="./assets/images/photo-building.jpg" lightbox alt="image 2" />
                              <figcaption>Building</figcaption>
                            </figure>
                          </div>

                          <div class="col image-holder">
                            <figure>
                              <img src="./assets/images/unnamed.jpg" lightbox alt="image 1" />
                              <figcaption>Img 3</figcaption>
                            </figure>
                          </div>

                          <div class="col image-holder">
                            <figure>
                              <img src="./assets/images/external-content.duckduckgo.jpg" lightbox alt="image 1" />
                              <figcaption>External</figcaption>
                            </figure>
                          </div>
                          <div class="col image-holder">
                            <figure>
                              <img src="./assets/images/external-content.duckduckgo.jpg" lightbox alt="image 1" />
                              <figcaption>External</figcaption>
                            </figure>
                          </div>
                        </div>
                      </div>

                      <div class="list-actions">
                        <div class="form-field-wrapper">
                          <mat-form-field class="is-dropdown-field">
                            <mat-label>Status</mat-label>
                            <mat-select>
                              <mat-option value="pending">Pending</mat-option>
                              <mat-option value="in-verification">In Verification</mat-option>
                              <mat-option value="verified">Verified</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>

                      <!-- Properties -->
                      <div class="info table-wrapper">
                        <h4><span>Owners</span></h4>
                        <table
                          mat-table
                          [dataSource]="dataSourceProperties"
                          class="records-table records-table--property-owner"
                        >
                          <ng-container matColumnDef="sn">
                            <td mat-cell *matCellDef="let element">{{ element.sn }}</td>
                          </ng-container>

                          <ng-container matColumnDef="image">
                            <td mat-cell *matCellDef="let element">
                              <figure class="is-rounded-image w-32">
                                <img src="{{ element.image }}" />
                              </figure>
                            </td>
                          </ng-container>

                          <ng-container matColumnDef="name">
                            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                          </ng-container>

                          <ng-container matColumnDef="contact">
                            <td mat-cell *matCellDef="let element">{{ element.contact }}</td>
                          </ng-container>

                          <ng-container matColumnDef="address">
                            <td mat-cell *matCellDef="let element">{{ element.address }}</td>
                          </ng-container>

                          <tr
                            mat-row
                            *matRowDef="let row; columns: columnsToDisplayProperties"
                            (click)="openDialog()"
                          ></tr>
                        </table>
                      </div>
                      <!-- Properties -->

                      <!-- Invite Owner -->
                      <div class="info owner-invite">
                        <h4><span>Add Owner</span></h4>
                        <div class="d-flex has-3-cols">
                          <div class="form-field-wrapper col">
                            <mat-form-field>
                              <input matInput type="text" />
                              <mat-label>Full Name</mat-label>
                            </mat-form-field>
                          </div>
                          <div class="form-field-wrapper col">
                            <mat-form-field>
                              <input matInput type="number" />
                              <mat-label>Mobile Number</mat-label>
                            </mat-form-field>
                          </div>
                          <div class="form-field-wrapper col">
                            <mat-form-field>
                              <input matInput type="email" />
                              <mat-label>Email</mat-label>
                            </mat-form-field>
                          </div>
                          <div class="col">
                            <button mat-button class="btn btn-theme-green">Add</button>
                          </div>
                        </div>
                      </div>
                      <!-- Invite Owner -->
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr
                  mat-row
                  *matRowDef="let element; columns: columnsToDisplay"
                  class="records-row example-element-row"
                  [class.expanded]="expandedElement === element"
                  (click)="expandedElement = expandedElement === element ? null : element"
                ></tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="expanded-row-details"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
          <!-- Records Table -->
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
