<div class="ng-trigger-detailExpand">
  <div class="info owner-invite">
    <div class="d-flex is-column-layout align-center">
      <div class="form-field-wrapper col is-phone-field">
        <mat-form-field class="zip-code-input">
          <mat-label>Code</mat-label>
          <span matPrefix><i class="las la-plus"></i></span>
          <input type="number" matInput />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" />
          <mat-label>Mobile Number</mat-label>
        </mat-form-field>
        <mat-nav-list class="suggestion-list">
          <a mat-list-item>98031264567</a>
          <a mat-list-item>98031264568</a>
          <a mat-list-item>98031264560</a>
          <a mat-list-item>98031264596</a>
          <a mat-list-item>9803126985</a>
          <a mat-list-item>98031262365</a>
        </mat-nav-list>
      </div>
      <div class="form-field-wrapper col">
        <mat-form-field>
          <input matInput type="text" required />
          <mat-label>Full Name</mat-label>
        </mat-form-field>
      </div>

      <div class="form-field-wrapper col">
        <mat-form-field>
          <input matInput type="email" required />
          <mat-label>Email</mat-label>
        </mat-form-field>
      </div>
      <div class="col">
        <button mat-button class="btn btn-theme-green">Add</button>
      </div>
    </div>
  </div>
</div>
