<form class="password-update" [formGroup]="changePasswordForm">
  <div class="d-flex has-3-cols">
    <div class="form-field-wrapper is-password-field col has-no-padding-left">
      <mat-form-field>
        <mat-label> {{ "old_password_label" | translate }} </mat-label>
        <span class="password-input-field-profile">
          <input type="text" matInput formControlName="oldPassword" appPassword required />
        </span>
        <mat-error>
          <app-error-message [control]="changePasswordForm.get('oldPassword')"></app-error-message>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-field-wrapper is-password-field col has-no-padding-left">
      <mat-form-field>
        <mat-label>{{ "new_password_label" | translate }}</mat-label>
        <span class="password-input-field-profile">
          <input type="text" matInput formControlName="newPassword" appPassword required />
        </span>
        <mat-error>
          <app-error-message [control]="changePasswordForm.get('newPassword')"></app-error-message>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-field-wrapper is-password-field col has-no-padding-left">
      <mat-form-field>
        <mat-label> {{ "confirm_new_password_label" | translate }} </mat-label>
        <span class="password-input-field-profile">
          <input type="text" matInput formControlName="confirmPassword" appPassword required />
        </span>
        <mat-error>
          <app-error-message [control]="changePasswordForm.get('confirmPassword')"></app-error-message>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <mat-error
    *ngIf="changePasswordForm.errors?.compare_password && changePasswordForm.dirty"
    class="password-mismatch text-center"
  >
    {{ "passwords_match" | translate }}
  </mat-error>

  <div class="buttons-wrapper d-flex">
    <button mat-button class="btn-theme-green left-auto" (click)="onUpdatePassword()">
      {{ "common.update" | translate }}
    </button>
  </div>
</form>
