<div class="app-container auth d-flex align-center">
  <div class="auth-content d-flex">
    <div class="app-info">
      <h1 class="app-icon">
        <span></span>
        <p>{{ "ownant" | translate | uppercase }}</p>
      </h1>
      <h2>{{ "page_titles.product_admin_login" | translate | uppercase }}</h2>

      <figure class="text-center">
        <img src="./assets/images/bms-wizard-footer-img.png" alt="" />
      </figure>
    </div>
    <div class="form-wrapper">
      <ng-content></ng-content>
    </div>
  </div>
</div>
