<form class="password-update">
  <div class="d-flex has-2-cols justify-between">
    <div class="col" [formGroup]="updateMobileForm">
      <mat-form-field>
        <mat-label>{{ "common.mobile_number" | translate }} </mat-label>
        <input matInput formControlName="mobileNumber" appOnlyNumber required />
        <mat-error>
          <app-error-message [control]="updateMobileForm.get('mobileNumber')"></app-error-message>
        </mat-error>
      </mat-form-field>
      <button mat-button class="btn-theme-green left-auto" (click)="onChangeMobileNumber()">Change</button>
      <p *ngIf="!haveOtp" class="has-margin-top d-flex align-center">
        <i class="las la-info-circle tooltip" mat-raised-button matTooltip="{{ 'otp_verify_info' | translate }}"></i>
        <a class="has-pointer-style text-primary" (click)="gotOtp()">{{ "received_otp" | translate }}</a>
      </p>
    </div>

    <div class="col" [formGroup]="updateEmailForm">
      <mat-form-field>
        <mat-label>{{ "common.email" | translate }} </mat-label>
        <input type="text" matInput formControlName="emailAddress" required />
        <mat-error>
          <app-error-message [control]="updateEmailForm.get('emailAddress')"></app-error-message>
        </mat-error>
      </mat-form-field>
      <button mat-button class="btn-theme-green left-auto" (click)="onChangeEmail()">
        {{ "change_label" | translate }}
      </button>
      <p *ngIf="!haveCode" class="has-margin-top d-flex align-center">
        <i class="las la-info-circle tooltip" mat-raised-button matTooltip="{{ 'code_verify_info' | translate }}"></i>
        <a class="has-pointer-style text-primary" (click)="gotCode()">{{ "received_code" | translate }}</a>
      </p>
    </div>
  </div>

  <div class="d-flex has-2-cols justify-between">
    <div class="col" [formGroup]="verifyMobileForm">
      <ng-container *ngIf="haveOtp">
        <mat-form-field>
          <mat-label>{{ "enter_otp_verification" | translate }} </mat-label>
          <input type="text" matInput formControlName="otp" required />
          <mat-error>
            <app-error-message [control]="verifyMobileForm.get('otp')"></app-error-message>
          </mat-error>
        </mat-form-field>
        <button mat-button class="btn-theme-green left-auto" (click)="onVerifyMobileNumber()">
          {{ "common.verify_label" | translate }}
        </button>

        <button mat-button class="btn-theme-white left-auto" (click)="gotOtp()">
          {{ "common.cancel" | translate }}
        </button>
      </ng-container>
    </div>

    <div class="col" [formGroup]="verifyEmailForm">
      <ng-container *ngIf="haveCode">
        <mat-form-field>
          <mat-label>{{ "enter_code_verification" | translate }} </mat-label>
          <input type="text" matInput formControlName="otp" required />
          <mat-error>
            <app-error-message [control]="verifyEmailForm.get('otp')"></app-error-message>
          </mat-error>
        </mat-form-field>
        <button mat-button class="btn-theme-green left-auto" (click)="onVerifyEmail()">
          {{ "common.verify_label" | translate }}
        </button>
        <button mat-button class="btn-theme-white left-auto" (click)="gotCode()">
          {{ "common.cancel" | translate }}
        </button>
      </ng-container>
    </div>
  </div>
</form>
