<div class="app-container">
  <!-- Header -->
  <header class="d-flex align-center">
    <h1 class="building-logo d-flex align-center">
      <figure>
        <img src="./assets/images/favicon.png" alt="Building Logo" />
      </figure>
      <span class="text-primary bold">OWNANT</span>
    </h1>

    <span class="nav-toggle" (click)="drawer.toggle()">
      <i class="las la-bars"></i>
    </span>

    <mat-nav-list class="nav nav-primary">
      <a mat-list-item routerLink="/designs/dashboard">Dashboard</a>

      <a mat-list-item [matMenuTriggerFor]="staffMenu">Staff</a>
      <mat-menu #staffMenu="matMenu" class="is-dropdown">
        <h3>Active Staff</h3>
        <mat-nav-list class="added-records-list">
          <a mat-list-item class="d-flex align-center added-records-list-item">
            <figure class="is-rounded-image">
              <img src="./assets/images/unnamed.jpg" alt="Property Image" />
            </figure>
            <p>
              <span>Ghanashyam Kushwaha</span>
              <label>Property Manger</label>
            </p>
          </a>
          <a mat-list-item class="d-flex align-center added-records-list-item">
            <figure class="is-rounded-image">
              <img src="./assets/images/unnamed.jpg" alt="Property Image" />
            </figure>
            <p>
              <span>Kanti Lal Shah</span>
              <label>Gate Keeper</label>
            </p>
          </a>
        </mat-nav-list>
        <mat-nav-list class="record-actions">
          <a mat-list-item (click)="openStaffDialog()">Add New</a>
          <a mat-list-item routerLink="/designs/staff">View All</a>
        </mat-nav-list>
      </mat-menu>

      <a mat-list-item routerLink="/designs/users">Users</a>

      <a mat-list-item routerLink="/designs/product-admin-add-property" class="is-button">Add Property</a>
    </mat-nav-list>

    <mat-nav-list class="nav nav-secondary">
      <a mat-list-item><i class="las la-question-circle"></i></a>
      <a mat-list-item><i class="las la-cog"></i></a>
      <a mat-list-item><i class="las la-bell"></i></a>
      <a mat-list-item [matMenuTriggerFor]="userDropDown">
        <figure class="is-rounded-image">
          <img src="./assets/images/unnamed.jpg" alt="Property Image" />
        </figure>
      </a>

      <mat-menu #userDropDown="matMenu" class="is-dropdown user-menu-dropdown">
        <mat-nav-list class="record-actions">
          <a mat-list-item routerLink="/designs/product-admin-profile">View Profile</a>
          <a mat-list-item>Logout</a>
        </mat-nav-list>
      </mat-menu>
    </mat-nav-list>
  </header>
  <!-- Header -->

  <div class="app-content">
    <mat-drawer-container>
      <mat-drawer #drawer mode="side" opened>
        <!-- Sidebar -->
        <section class="nav nav-sidebar">
          <mat-nav-list class="ownant-admin">
            <a mat-list-item routerLink="/designs/product-admin-owner">
              <i class="las la-user-tie"></i>
              <span>Owner</span>
            </a>

            <a mat-list-item class="has-submenu" routerLink="/designs/product-admin-property">
              <i class="las la-building"></i>
              <span>Property</span>
            </a>


            <a mat-list-item class="has-submenu active" routerLink="/designs/product-admin-user">
              <i class="las la-user"></i>
              <span>User</span>
            </a>
            <mat-nav-list class="submenu">
              <a mat-list-item routerLink="/designs/product-admin-user">Verified</a>
              <a mat-list-item routerLink="/designs/product-admin-user" class="active">Pending</a>
            </mat-nav-list>
          </mat-nav-list>
        </section>
        <!-- Sidebar -->
      </mat-drawer>

      <mat-drawer-content>
        <div class="content-inner">
          <div class="breadcrubms">
            <span><a href="/designs/dashboard">Dashboard</a></span>
            <span>Users</span>
            <span>Verified</span>
          </div>

          <h2 class="module-header d-flex align-center justify-between">
            <span class="module-header-text">User</span>
            <form>
              <div class="form-field-wrapper has-no-margin">
                <mat-form-field floatLabel="never">
                  <mat-label>Search by User Name</mat-label>
                  <input type="text" matInput placeholder="Search by Owner Name / Number" />
                  <i mat-icon-button matSuffix class="las la-search"></i>
                </mat-form-field>
              </div>
            </form>
          </h2>

          <!-- Filters -->
          <div class="records-filter">
            <h3>Filter by</h3>
            <div class="d-flex">
              <div class="form-field-wrapper">
                <mat-form-field>
                  <mat-select floatLabel="never">
                    <mat-option value="individual" selected>Individual</mat-option>
                    <mat-option value="owner type">Housing</mat-option>
                  </mat-select>
                  <mat-label>Type</mat-label>
                </mat-form-field>
              </div>

            </div>
          </div>
          <!-- Filters -->

          <!-- Records Table -->
          <div class="records-wrapper">
            <div class="table-wrapper">
              <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="records-table records-table--admin-users">
                <ng-container matColumnDef="sn">
                  <th mat-header-cell *matHeaderCellDef>#</th>
                  <td mat-cell *matCellDef="let element">{{ element.sn }}</td>
                </ng-container>

                <ng-container matColumnDef="username">
                  <th mat-header-cell *matHeaderCellDef>Username</th>
                  <td mat-cell *matCellDef="let element">{{ element.username }}</td>
                </ng-container>

                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef>Type</th>
                  <td mat-cell *matCellDef="let element">{{ element.type }}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef>Email</th>
                  <td mat-cell *matCellDef="let element">{{ element.email }}</td>
                </ng-container>

                <ng-container matColumnDef="contact">
                  <th mat-header-cell *matHeaderCellDef>Contact</th>
                  <td mat-cell *matCellDef="let element">{{ element.contact }}</td>
                </ng-container>

                <ng-container matColumnDef="address">
                  <th mat-header-cell *matHeaderCellDef>Address</th>
                  <td mat-cell *matCellDef="let element">{{ element.address }}</td>
                </ng-container>

                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length" class="text-left">
                    <div
                    class="owner-active-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
                    >
                      <div class="info info-docs">
                        <div flex class="d-flex has-3-cols">
                          <div class="col">
                            <i class="las la-file-alt text-primary"></i>
                            <a>
                              <label>Owner PAN ID</label>
                              <span class="text-primary">P. 1234567890</span>
                            </a>
                          </div>
                          <div flex class="col">
                            <i class="las la-file-alt text-primary"></i>
                            <a>
                              <label>Owner PAN ID</label>
                              <span class="text-primary">P. 1234567890</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplay" class="records-row example-element-row"
                [class.expanded]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element"></tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="expanded-row-details"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
            </div>
          </div>
          <!-- Records Table -->

        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
