<div class="ng-trigger-detailExpand">
  <h4 class="property-name">Sunrise Homes</h4>
  <div class="owner-active-detail">
    <!-- Admin Information -->
    <div class="info info-admin">
      <div class="d-flex has-3-cols">
        <div class="col">
          <i class="las la-map-marked text-primary"></i>
          <p>
            <label>Permanent Adress </label>
            <span
              >Anantalingeshwor Marg, Bhaktapur, Kathmandu, <br />
              Nepal, Ward Number: 01, Zip Code: 650045</span
            >
          </p>
        </div>

        <div class="col">
          <i class="las la-phone text-primary"></i>
          <span>977-1-4256789</span>
        </div>

        <div class="col">
          <i class="las la-building text-primary"></i>
          <span>Company</span>
        </div>
      </div>
    </div>
    <!-- Admin Information -->

    <!-- Documents -->
    <div class="info info-docs">
      <h5 class="form-section-title">Documents</h5>
      <div flex class="d-flex has-3-cols">
        <div class="col">
          <i class="las la-file-alt text-primary"></i>
          <a>
            <label>Company Registration Certificate</label>
            <span class="text-primary">Regd. 1234567890</span>
          </a>
        </div>
        <div flex class="col">
          <i class="las la-file-alt text-primary"></i>
          <a>
            <label>PAN/VAT Registration</label>
            <span class="text-primary">Regd. 1234567890</span>
          </a>
        </div>
      </div>
    </div>
    <!-- Documents -->

    <div class="site-images contains-multiple-images">
      <h5 class="form-section-title">Property images</h5>
      <div lightbox-group class="d-flex has-3-cols">
        <div class="col image-holder">
          <figure>
            <img src="./assets/images/hero.jpg" lightbox alt="image 1" />
            <figcaption>Image1</figcaption>
          </figure>
        </div>

        <div class="col image-holder">
          <figure>
            <img src="./assets/images/photo-building.jpg" lightbox alt="image 2" />
            <figcaption>Building</figcaption>
          </figure>
        </div>

        <div class="col image-holder">
          <figure>
            <img src="./assets/images/unnamed.jpg" lightbox alt="image 1" />
            <figcaption>Img 3</figcaption>
          </figure>
        </div>

        <div class="col image-holder">
          <figure>
            <img src="./assets/images/external-content.duckduckgo.jpg" lightbox alt="image 1" />
            <figcaption>External</figcaption>
          </figure>
        </div>
        <div class="col image-holder">
          <figure>
            <img src="./assets/images/external-content.duckduckgo.jpg" lightbox alt="image 1" />
            <figcaption>External</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
