<form class="detail-form" [formGroup]="companyDetailForm">
  <div class="d-flex justify-between">
    <div class="col">
      <div class="form-field-wrapper has-margin-bottom">
        <app-file-upload
          formControlName="logo"
          [fileUploadType]="fileUploadTypeEnum.CIRCULAR"
          [folderName]="'OWNER_LOGO'"
          [figCaption]="'company_logo_caption' | translate"
        ></app-file-upload>
        <mat-error *ngIf="submitted">
          <app-error-message [control]="companyDetailForm.get('logo')"></app-error-message>
        </mat-error>
      </div>
    </div>
  </div>

  <div class="d-flex has-2-cols">
    <div class="form-field-wrapper has-no-padding-left col">
      <mat-form-field>
        <mat-label>{{ "company_name_label" | translate }}</mat-label>
        <input type="text" matInput formControlName="name" required />
        <mat-error>
          <app-error-message [control]="companyDetailForm.get('name')"></app-error-message>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-field-wrapper has-no-padding-left col">
      <mat-form-field>
        <mat-label>{{ "company_email_label" | translate }}</mat-label>
        <input type="email" matInput formControlName="email" required />
        <mat-error>
          <app-error-message [control]="companyDetailForm.get('email')"></app-error-message>
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="contact-details contact-details-company">
    <h5 class="form-section-title">
      {{ "company_contact_label" | translate }}
      <a mat-icon-button><i class="las la-plus" (click)="addContact()"></i></a>
    </h5>
    <ng-container formArrayName="contacts" *ngFor="let contact of contactsFormArray.controls; let i = index">
      <div class="d-flex has-2-cols" [formGroupName]="i">
        <div class="form-field-wrapper has-no-padding-left col is-phone-field">
          <div class="contact-type-options">
            <button
              mat-icon-button
              matPrefix
              class="matPrefix"
              [class.selected]="contact.value.type === 'phone'"
              (click)="onPhoneIconClick(i)"
            >
              <i class="las la-phone"></i>
            </button>
            <button
              mat-icon-button
              matPrefix
              class="matPrefix"
              [class.selected]="contact.value.type === 'mobile'"
              (click)="onMobileIconClick(i)"
            >
              <i class="las la-mobile"></i>
            </button>
          </div>
          <mat-form-field>
            <mat-label>{{ contact.value.type | titlecase }} </mat-label>
            <input appOnlyNumber matInput formControlName="number" required />
            <button class="matSuffix" mat-icon-button matSuffix *ngIf="contactsFormArray.controls.length > 1">
              <i class="las la-minus-circle" (click)="removeContact(i)"></i>
            </button>
            <mat-error>
              <app-error-message [control]="contactsFormArray.controls[i].get('number')"></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="address-details address-details-company" formGroupName="address">
    <h5 class="form-section-title">{{ "address" | translate }}</h5>
    <div class="d-flex has-2-cols">
      <div class="form-field-wrapper has-no-padding-left col full-width">
        <mat-form-field>
          <mat-label>{{ "mod_address.address_line_1_label" | translate }}</mat-label>
          <input type="text" matInput formControlName="addressLine1" required />
          <mat-error>
            <app-error-message [control]="companyDetailForm.get('address').get('addressLine1')"></app-error-message>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-field-wrapper has-no-padding-left col full-width">
        <mat-form-field>
          <mat-label>{{ "mod_address.address_line_2_label" | translate }}</mat-label>
          <input type="text" matInput formControlName="addressLine2" />
          <mat-error>
            <app-error-message [control]="companyDetailForm.get('address').get('addressLine2')"></app-error-message>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-field-wrapper has-no-padding-left col">
        <mat-form-field>
          <mat-label>{{ "mod_address.country_label" | translate }}</mat-label>
          <mat-select formControlName="country" required>
            <mat-option [value]="country.value" *ngFor="let country of countries">{{ country.title }}</mat-option>
          </mat-select>
          <mat-error>
            <app-error-message [control]="companyDetailForm.get('address').get('country')"></app-error-message>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-field-wrapper has-no-padding-left col">
        <mat-form-field>
          <mat-label>{{ "mod_address.province_label" | translate }}</mat-label>
          <input
            type="text"
            placeholder="{{ 'province_placeholder' | translate }}"
            matInput
            formControlName="province"
            [matAutocomplete]="auto"
            required
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let province of filteredProvinces | async" [value]="province.value">
              {{ province.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-error>
            <app-error-message [control]="companyDetailForm.get('address').get('province')"></app-error-message>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-field-wrapper has-no-padding-left col">
        <mat-form-field>
          <mat-label>{{ "mod_address.city_label" | translate }}</mat-label>
          <input type="text" matInput formControlName="city" required />
          <mat-error>
            <app-error-message [control]="companyDetailForm.get('address').get('city')"></app-error-message>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-field-wrapper has-no-padding-left col">
        <mat-form-field>
          <mat-label>{{ "mod_address.zip_code_label" | translate }}</mat-label>
          <input matInput formControlName="zipCode" appOnlyNumber required />
          <mat-error>
            <app-error-message [control]="companyDetailForm.get('address').get('zipCode')"></app-error-message>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-field-wrapper has-no-padding-left col">
        <mat-form-field>
          <mat-label>{{ "mod_address.ward_number_label" | translate }}</mat-label>
          <input matInput formControlName="wardNo" appOnlyNumber required />
          <mat-error>
            <app-error-message [control]="companyDetailForm.get('address').get('wardNo')"></app-error-message>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-field-wrapper has-no-padding-left col">
        <mat-form-field>
          <mat-label>{{ "mod_address.street_label" | translate }}</mat-label>
          <input matInput formControlName="street" required />
          <mat-error>
            <app-error-message [control]="companyDetailForm.get('address').get('street')"></app-error-message>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="d-flex has-2-cols">
    <div class="form-field-wrapper has-no-padding-left col">
      <mat-form-field>
        <mat-label>{{ "company_pan_no_label" | translate }}</mat-label>
        <input matInput formControlName="panNumber" appOnlyNumber required />
        <mat-error>
          <app-error-message [control]="companyDetailForm.get('panNumber')"></app-error-message>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-field-wrapper has-no-padding-left col" *ngIf="getOwnerType() === 'COMPANY'">
      <mat-form-field>
        <mat-label>{{ "company_reg_no_label" | translate }}</mat-label>
        <input type="text" matInput formControlName="registrationNumber" required />
        <mat-error>
          <app-error-message [control]="companyDetailForm.get('registrationNumber')"></app-error-message>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-field-wrapper has-no-padding-left col" *ngIf="getOwnerType() === 'INDIVIDUAL'">
      <mat-form-field>
        <mat-label>{{ "citizenship_number_label" | translate }}</mat-label>
        <input type="text" matInput formControlName="citizenshipNumber" required />
        <mat-error>
          <app-error-message [control]="companyDetailForm.get('citizenshipNumber')"></app-error-message>
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="documents contains-multiple-images">
    <h5 class="form-section-title">{{ "documents_label" | translate }}</h5>

    <div class="d-flex has-2-cols">
      <div class="image-holder">
        <app-file-upload
          [file]="companyDetailForm.get('panCertificate').value || companyDetail?.panCertificate"
          formControlName="panCertificate"
          [fileUploadType]="fileUploadTypeEnum.RECTANGULAR"
          [figCaption]="'company_pan_cert_caption' | translate"
          [folderName]="'OWNER_PAN'"
        ></app-file-upload>
        <mat-error>
          <app-error-message [control]="companyDetailForm.get('panCertificate')"></app-error-message>
        </mat-error>
      </div>
      <div class="image-holder" *ngIf="getOwnerType() === 'COMPANY'">
        <app-file-upload
          formControlName="registrationCertificate"
          [fileUploadType]="fileUploadTypeEnum.RECTANGULAR"
          [figCaption]="'company_reg_cert_caption' | translate"
          [folderName]="'OWNER_REGISTRATION'"
        ></app-file-upload>
        <mat-error>
          <app-error-message [control]="companyDetailForm.get('registrationCertificate')"></app-error-message>
        </mat-error>
      </div>
      <div class="image-holder" *ngIf="getOwnerType() === 'INDIVIDUAL'">
        <app-file-upload
          formControlName="citizenshipFront"
          [fileUploadType]="fileUploadTypeEnum.RECTANGULAR"
          [figCaption]="'citizenship_front_caption' | translate"
          [folderName]="'OWNER_CITIZENSHIP'"
        ></app-file-upload>
        <mat-error>
          <app-error-message [control]="companyDetailForm.get('citizenshipFront')"></app-error-message>
        </mat-error>
      </div>
      <div class="image-holder" *ngIf="getOwnerType() === 'INDIVIDUAL'">
        <app-file-upload
          formControlName="citizenshipBack"
          [fileUploadType]="fileUploadTypeEnum.RECTANGULAR"
          [figCaption]="'citizenship_back_caption' | translate"
          [folderName]="'OWNER_CITIZENSHIP'"
        ></app-file-upload>
        <mat-error>
          <app-error-message [control]="companyDetailForm.get('citizenshipBack')"></app-error-message>
        </mat-error>
      </div>
    </div>
  </div>

  <div class="buttons-wrapper d-flex">
    <button mat-button class="btn btn-theme-green left-auto" (click)="updateCompanyDetail()">
      {{ "common.update" | translate }}
    </button>
  </div>
</form>
